:root {
  --primary-color: #250e4a;
  --secondary-color: #8f7ac6;
  --accent-color: #da70d6;
  --light-color: #f9f8fd;
  --dark-color: #090714;
  --gray-color: #49455c;

  font-family: "Chakra Petch", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--light-color);
  background-color: var(--dark-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--dark-color);
    background-color: var(--light-color);
  }

  h1,
  .ui__component__title {
    color: var(--primary-color);
  }

  p code,
  q code {
    color: var(--dark-color);
  }

  .hr {
    background-color: #49455c3f;
  }

  .ui__item {
    background-color: white;
    border: solid 1px var(--primary-color);
    color: var(--primary-color);
  }

  .ui__item:hover {
    cursor: pointer;
    border-color: var(--secondary-color);
    color: var(--secondary-color);
  }

  .ui__item.active {
    border-color: var(--secondary-color);
    color: white;
    background-color: var(--secondary-color);
  }
}

@media (prefers-color-scheme: dark) {
  h1,
  .ui__component__title {
    color: var(--light-color);
  }

  p code,
  q code {
    color: var(--secondary-color);
  }

  .hr {
    background-color: #8f7ac65a;
  }

  .ui__item {
    background-color: var(--secondary-color);
    color: white;
  }

  .ui__item:hover {
    cursor: pointer;
    border-color: var(--light-color);
    color: var(--dark-color);
  }

  .ui__item.active {
    border-color: var(--light-color);
    color: var(--dark-color);
    background-color: var(--light-color);
  }
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  position: relative;
}

div {
  width: 100%;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 3rem;
}

.ui__container,
.ui__component {
  display: flex;
  flex-direction: column;
}

.ui__component {
  padding-top: 1rem;
  box-sizing: border-box;
}

.ui__container__components-list {
  min-height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.ui__item {
  width: 160px;
  height: 50px;
  border-radius: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.25rem;
  font-weight: bold;
  text-transform: uppercase;
  font-size: small;
  letter-spacing: 0.15rem;
  transition: all ease 0.25s;
}

.ui__component__preview {
  margin-bottom: 1.5rem;
}

.ui__component__title {
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  line-height: 18px;
}

.ui__component__example {
  box-sizing: border-box;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.ui__component__code {
  margin-bottom: 1rem;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: var(--primary-color);
  border-radius: 0.25rem;
}

code[class*="language-"],
pre[class*="language-"] {
  font-size: 0.8rem;
}

.ui__component__code p {
  margin-top: 1rem;
}

.ui__component__code p:first-child {
  margin-top: 0;
}

p code,
q code {
  font-size: 1rem;
  font-weight: bolder;
}

.hr {
  width: 95%;
  margin: 0 auto;
  height: 1px;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}

a {
  color: var(--accent-color);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  font-weight: normal;
}

h4 {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
}

.despcription {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  line-height: 26px;
  font-size: 1.3rem;
}

.despcription p code {
  font-size: 1.3rem;
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 769px) {
  /* Styles */
}

/* Desktop ----------- */
@media only screen and (min-width: 1225px) {
  .ui__container__components-list {
    justify-content: center;
  }

  .ui__component {
    flex-direction: row;
  }

  .ui__component__preview {
    width: 360px;
    margin-bottom: 0;
  }

  .ui__component__code {
    width: calc(100% - 360px);
    margin-bottom: 0;
  }
}
