button.btn-hover-icon {
  background-color: var(--accent-color);
  color: var(--light-color);
  width: 200px;
}

button.btn-hover-icon::after {
  content: "";
  display: block;
  width: 0px;
  height: 24px;
  overflow: hidden;
  background-image: url("../arrow-forward.svg");
  background-repeat: no-repeat;
  transition: width 200ms, margin-left 200ms;
}

button.btn-hover-icon:is(:hover, :focus)::after {
  width: 24px;
  margin-left: 8px;
}
