button {
  width: 200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  background-color: var(--accent-color);
  color: var(--light-color);
  border: none;
  border-radius: 0.25rem;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1rem;
  box-shadow: 1px 1px 5px #0907145e;
}

button:hover {
  cursor: pointer;
}

.btn::after {
  content: "";
  display: block;
  width: 0px;
  height: 24px;
  overflow: hidden;
  background-image: url("./arrow-forward.svg");
  background-repeat: no-repeat;
  transition: width 200ms, margin-left 200ms;
}

.btn:is(:hover, :focus)::after {
  width: 24px;
  margin-left: 8px;
}
